modules = ["nodejs-20", "postgresql-16"]
[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-24_05"
packages = ["mariadb"]

[workflows]
runButton = "Run Development Server"

[[workflows.workflow]]
name = "Run Development Server"
author = 42457583
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
